:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-button-wrapper {
  margin: 0 2vmin;
}


p {
  font-size: 3vmin;
}

.spacer {
  flex: 1;
  flex-direction: row;
}

.page-navigation{
color: #ffffff;
padding: 0 2vmin;
}

.profile-navigation{
color: #ffffff;
padding: 0 2vmin;
}


.profile-navigation>a {
  color: #ffffff;
  text-decoration: none;
}

.page-navigation>a {
  color: #ffffff;
  text-decoration: none;
}
.page-navigation>a:hover {
  color:#1976d2;
  text-decoration: none;
}


.toolbar {
  font-size: calc(5vmin);
  height: 10vmin;
  margin-bottom: 10vmin;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  box-shadow: -1px 13px 5px -4px rgba(189, 178, 189, 1);
  border-radius: 2vmin;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}



.card-container {
  display: flex;
  justify-content: center;
}


.card-container .card:not(:last-child) {
  margin-right: 0;
}


.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}



.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 3px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.home-link:hover {
  transform: translateY(-0.25rem);
}

.home-link{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease-out;
}

footer {
  position: relative;
  /* display: none; */
  bottom: 0vmin;
  left: -3vmin;
  margin-top: 10vmin;
  display: flex;
  align-items: center;
  line-height: 5vmin;
  background-color: rgb(43, 43, 51);
  color: #e6ebf1;
  padding: 2vmin;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border-radius: 15px 15px; */
}

footer a {
  /* display: none; */
  display: flex;
  align-items: center;
  flex-direction: row;
}

.copyright {
  font-size: small;
  align-items: center;
  justify-content: center;
}



svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {
  /* h1,h2,h3,h4,h5,h6 {
    margin: 2vmin 0;
    font-size: calc(6vmin);
  } */

  p {font-size: 5vmin;}

  .toolbar {
    font-size: calc(5vmin);
    height: 15vmin;
    margin-bottom: 10vmin;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    box-shadow: -1px 13px 5px -4px rgba(189, 178, 189, 1);
    border-radius: 2vmin;
  }

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

}

