:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-button-wrapper {
  margin: 0 2vmin;
}

.tech-container{
  display: center;
}
.tech-container>img{
  width:70%;
  margin-left:5vmin;
  height:50%
}


h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
  flex-direction: row;
}

.toolbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  box-shadow: -1px 13px 5px -4px rgba(189,178,189,1);
  border-radius: 15px 15px 15px 15px ;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 32px auto 0px auto;
  padding: 16px 16px;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.typing-element-style{
font-size: 8vmin;
font-weight: 300;
}


.about-me-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3vmin;
}
.about-me-img{
  background-size: cover;
  padding: 3vmin;
  width: 20%;
  position: relative;
  height: 58vmin;
  background-color: #125699;
  border-radius: 50%;
  overflow: hidden;
}

.about-me-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


.about-me-text{
  padding: 3vmin;
  width: 40%;
  height: auto;
}


.project {
  display: flex;
  margin: 0px auto 0px auto;
  padding: 8px 8px;
  width: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.docs-card {

  background-color: #EEEEEE;
  border-radius: 4px;
  box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
  12px 12px 12px 0 rgba(0,0,0,.031);
  box-sizing: border-box;
  transition: box-shadow .5s;
  word-wrap: break-word;
  /* width: 37vmin; */
  width: 40vw;
  margin: 8px 8px;
  padding-bottom: 48px;
  position: relative;

}
.docs-card p{
  padding: 0px 16px;
  margin: 0;
  height: auto;
}

.project .docs-card section {
  color: #333;
  font-size: 1.6rem;
  line-height: normal;
  margin: 0;
  padding: 15px 0 15px;
  text-transform: none;
  text-align: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}



.card-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;

}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}


.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}



.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  margin-bottom: -8px;
  align-items: center;
  line-height: 20px;
  background-color: rgb(43, 43, 51);
  color: #e6ebf1;
  /* width: 100%; */
  padding: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 15px 15px;
}

footer  a {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.copyright{
  font-size: medium;
  align-items: center;
  justify-content: center;
}




svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {


.toolbar {
  height: 60px;
  width: 102%;
  /* margin: -8px -8px 20px -8px; */
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  box-shadow: -1px 13px 5px -4px rgba(189,178,189,1);
  border-radius: 15px 15px 15px 15px ;
}

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
  .project {
    display: flex;
    margin: 32px auto 0px auto;
    padding: 3vmin 3vmin;
    align-items: center;
    max-width: 100%-calc(25vmin);
    flex-direction: column;
  }

}


